{
  "printWidth": 120,
  "useTabs": false,
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }]
}